{% extends 'Home_Base.html' %}



{% block content %}
<div class="photo" style="flex: 2;">
		<img src="{{ MEDIA_URL }}aboutus.png" width="100%">
</div>

<div class="aboutus">
	<div class="title" style="display: flex; justify-content: center; ">
		<div style="margin: 30px;">
			<h2 class="fw-bolder text-light-emphasis">關於我們</h2>
		</div>
	</div>
	<div class="about text-center" style="display: flex; justify-content: center; margin-bottom: 50px;">
		<div class="content" style="width: 758px; letter-spacing: 2px; line-height: 2;">
			<p>我們是一支充滿熱情的團隊，致力於將咖啡提升至一個更高的層次，並融入品質、藝術價值以及社會貢獻的理念中。我們的使命是不僅為咖啡愛好者提供最優質的咖啡體驗，還要在咖啡產業中發揮積極的社會作用。</p>
			<p>品質是我們堅定的信念。我們追求卓越，致力於挑選最優質的咖啡豆，並精心烘焙每一批以確保風味的純粹和豐富。我們不僅只是提供咖啡，我們提供的是一種藝術品，一種優雅的享受。</p>
			<p>藝術價值是我們靈感的來源。我們的咖啡不僅具有卓越的品質，還充滿藝術的元素。我們將咖啡製作視為一門藝術，將咖啡杯視為畫布，每一杯都是一幅畫作，呈現我們對咖啡的熱情和創造力。</p>
			<p>社會貢獻是我們的核心價值。我們深知咖啡產業的種種挑戰，並積極參與可持續種植和社區發展項目，以支持咖啡生產者和當地社區。我們希望透過咖啡，實現積極的社會變革。</p>
			<p>歡迎加入我們的咖啡旅程，一同品味品質、藝術價值和社會貢獻的結合，體驗獨特的咖啡文化。我們是一支不斷探索、創新並奉獻的團隊，我們相信咖啡不僅是一種飲品，它更是一種使命。</p>
		</div>
	</div>
</div>


{% endblock %}


