{% extends "Home_Base.html" %}

{% block title %}
Keith Coffee
{% endblock %}

<div>
{% block content %}
	<!-- 滑動主頁 -->
	<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" >
	    <div class="carousel-indicators">
	     	<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	     	<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
	     	<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
	    </div>
	    <div class="carousel-inner">
	    	<!-- 滑動圖片區 -->
	     	<div class="carousel-item active" style="height: 512px;">
	     		<img src="{{ MEDIA_URL }}cafe.png" width="100%" height="100%">
	        	<div class="container">
		         	<div class="carousel-caption text-start">
			            <h1>舒適的環境</h1>
			            <p class="opacity-75">Comfortable environment.</p>
		         	</div>
	        	</div>
	        </div>
	    	<!-- 滑動圖片區 -->	        
	    	<div class="carousel-item" style="height: 512px;">
	    		<img src="{{ MEDIA_URL }}coffee_orgin.png">
		        <div class="container">
		         	<div class="carousel-caption">
		            	<h1>純正的產地</h1>
		            	<p>From the purest place of origin</p>		            	
		         	</div>
		        </div>
	     	</div>
			<!-- 滑動圖片區 -->	     	
	     	<div class="carousel-item" style="height: 512px;">
				<img src="{{ MEDIA_URL }}coffee_wall.png">
		        <div class="container">
		         	<div class="carousel-caption text-end">
		            	<h1>最棒的咖啡豆</h1>
		            	<p>Selling the best coffee beans</p>
		            	<p><a class="btn btn-lg btn-dark" href="{% url 'all-product' %}">所有產品</a></p>
		         	</div>
		        </div>
		    </div>
	    </div>
	    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
	     	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	     	<span class="visually-hidden">Previous</span>
	    </button>
	    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
	     	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	     	<span class="visually-hidden">Next</span>
	    </button>
  	</div>



	<!-- 商品瀏覽 -->
	<div class="album bg-dark-subtle" style="padding: 10px;">
		<div class="container">					
			<div style="display: flex;">
				<div style="flex: 3;">
					<div class="row" style="height: 400px; padding-right: 30px; padding-top: 220px;">
						<div class="col p-4 d-flex flex-column position-static">
							<h3 class="fw-bolder text-body-emphasis text-xxl-end">對於咖啡的固執</h3>
							<div class="mb-1 text-body-secondary fst-italic text-xxl-end">Stubbornness for coffee</div>
							<p class="card-text mb-auto text-body-secondary text-xxl-end">在咖啡探索家，我們有著一個不同尋常的執著 - 對於咖啡的固執。我們相信，咖啡不僅僅是一種飲料，它是一種藝術，一個故事，一種冒險。我們深知，咖啡的品質來自於無盡的追求，對每個細節的極高要求，以及對熱情的不斷投入。</p>
						</div>
					</div>
				</div>
				<div style="flex: 1;">
					<img class="shadow" src="{{ MEDIA_URL }}coffee_and_woman.png" width="600" height="400">
				</div>
			</div>						
		</div>
	</div>

  	<!-- 專業簡介 -->
	<div class="container px-3 py-5" id="hanging-icons" style="height: 370px;">
		<h2 class="pb-3 border-bottom" style="letter-spacing: 1px;">我們的保證</h2>
		<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-2">
					<img src="{{ MEDIA_URL }}direct_trade.png" style="width: 2em; height: 2em;">
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">直接貿易</h3>
					<div>
						<p style="letter-spacing: 1px;">我們保證我們的咖啡豆是直接從原產地進口，確保小農得到公平價格，同時堅守社會和環保責任。品味我們的咖啡，您品嚐到的是真正的可持續性和品質。</p>
					</div>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-2">
					<img src="{{ MEDIA_URL }}traveling_backpack.png" style="width: 1.8em; height: 1.8em; margin-bottom: 2px;">
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">專欄文章</h3>
					<p style="letter-spacing: 1px;">咖啡部落客專欄文章是由對咖啡有濃厚興趣的作者所寫，涵蓋了咖啡豆的來源、烘焙技巧、沖煮方法、咖啡文化等主題，提供讀者深入了解和品味咖啡的樂趣和知識。</p>
				</div>
			</div>
			<div class="col d-flex align-items-start" style="width:">
				<div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-2">
					<img src="{{ MEDIA_URL }}health.png" style="width: 1.6em; height: 1.6em;">
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">衛生安全</h3>
					<p style="letter-spacing: 1px;">咖啡安全衛生是確保咖啡生產、處理和沖泡過程的衛生標準。這包括咖啡生產、存儲、處理和飲用過程中的衛生審查和措施，以確保無害、新鮮和品質的咖啡供應。</p>
				</div>
			</div>								
		</div>
	</div>

	<!-- 商品瀏覽 -->
	<div class="album bg-dark-subtle" style="padding: 10px;">
		<div class="container">					
			<div style="display: flex;">
				<div style="flex: 1;">
					<img class="shadow" src="{{ MEDIA_URL }}pick_cofffee_man.png" width="600" height="400">
				</div>				
				<div style="flex: 3;">
					<div class="row" style="height: 400px; padding-left: 30px; padding-top: 240px;">
						<div class="col p-4 d-flex flex-column position-static">
							<h3 class="fw-bolder text-body-emphasis">專業咖啡知識</h3>
							<div class="mb-1 text-body-secondary fst-italic">Stubbornness for coffee</div>
							<p class="card-text mb-auto text-body-secondary">我們的團隊是由咖啡專家和烘焙大師組成的，他們對咖啡的各種品種、產地、風味和烘焙程度有著深入的了解。每一杯咖啡都是我們知識的結晶，一個故事的開端。</p>
						</div>
					</div>
				</div>				
			</div>						
		</div>
	</div>


	<!-- Blog顯示 -->
	<div class="container px-3 py-5" id="hanging-icons">
		<div class="row">
			<div class="col-lg-4" style="text-align: center;">
				<img class="rounded-circle" src="{{ MEDIA_URL }}Lin.png" style="width: 140px; margin-bottom: 10px;" />
				<h2 class="fw-normal">林</h2>
				<p>林，她的咖啡風味探索就像一個豐富多彩的咖啡杯評比。 每一杯成為她的烹製藝術之作。</p>
				<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
			</div>
			<div class="col-lg-4" style="text-align: center;">
				<img class="rounded-circle" src="{{ MEDIA_URL }}Rajan.png" style="width: 140px; margin-bottom: 10px;" />
				<h2 class="fw-normal">Rajan</h2>
				<p>拉詹（Rajan）是一位咖啡城市故事講述者，他以獨特的咖啡觀點捕捉這座城市的精彩。 </p>
				<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
			</div>
			<div class="col-lg-4" style="text-align: center;">
				<img class="rounded-circle" src="{{ MEDIA_URL }}Mei.png" style="width: 140px; margin-bottom: 10px;" />
				<h2 class="fw-normal">梅</h2>
				<p>梅，用她的烹飪技藝讓世界為之著迷。梅氏的咖啡作品融合了藝術與品味，每一杯都經過精心調配，風味多變。</p>
				<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
			</div>
		</div>
		<hr class="featurette-divider">
	</div>
{% endblock %}
</div>
		

