{% extends 'Home_Base.html' %}

{% block title %}
輸入信箱
{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-content: center;">
	<div class="p-5 text-center bg-body-tertiary rounded-3" style="margin: 30px; width: 40%;">
		<div class="w-100 m-auto">

			<form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
				<h1 class="h3 mb-3 fw-normal">請輸入信箱</h1>
		        <div class="form-floating" style="margin-top: 10px;">
		            <input name="{{ form.email.name }}" type="text" class="form-control" id="{{ form.email.id_for_label }}" required>
		            <label for="{{ form.email.id_for_label }}">Email</label>
		        </div>				

	            <div class="text-danger" style="width: 100%; height: 16px; margin: 5px 0 15px 0;">
		            {% for error in form.email.errors %}
		                <p class="text-danger" style="font-weight: bold; margin-top: 5px; text-align: left;">{{ error }}</p>
		            {% endfor %}
	            </div>		        
	            <button class="btn btn-primary w-100 py-2" type="submit">確認</button>	            
			</form>

		</div>
	</div>
</div>
{% endblock %}