

.container {
    width: 90%;
    margin: auto;
}

.productImg {
    float: left;
    width: 25%;
}

.productImg img {
    height: 400px;
    width: 400px;
}

.productDetails {
    background-color: #f8f8f8;
    float: right;

    border-radius: 6px;
}

.proLabel {
    padding: 20px;
    font-weight: bold;
    background-color: #f8f8f8;
    font-size: 1.5rem;
}

.wrapper {
    padding: 20px;
    overflow: hidden;
}

.left,
.right {
    width: 50%;
    float: left;
}


.qnty {
    padding: 2rem;
    font-size: 1.5rem;
}

.spanBtn {
    background-color: #e6e6e6;
    padding: 20px;
    margin: -5px;
    cursor: pointer;
}

.spanBtn:hover {
    background-color: #d3d3d3;
    padding: 20px;
    margin: -5px;
    cursor: pointer;
}

.spanBtnNo {
    background-color: #fff;
    padding: 20px;
    margin: -5px;
}

a {
    text-decoration: none;
}

div.body {
    background-color: #f8f8f8;
    padding: 10px;
}

.pos {
    width: 24%;
    float: left;
}

.posBody {
    padding: 10px;
    margin: 1px;
    text-align: center;
    cursor: pointer;
}
.posBody:hover {
    background-color: #d3d3d3;
    padding: 10px;
    margin: 1px;
    text-align: center;
    transition-duration: 2s;
}

@media (max-width: 600px) {

    .pos {
        width: 50%;
    }
}