<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Keith咖啡網{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<!-- 可讓頁面變色的js檔 -->
    <script src="{% static 'js/color-modes.js' %}"></script> 
    <!-- 動畫效果的js檔 -->
    <script src="{% static 'js/bootstrap.bundle.min.js.map' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- 顏色排版的CSS檔 -->
    <link href="{% static 'css/bootstrap.min.css.map' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- 專業簡介CSS檔 -->
    <link href="{% static 'css/features.css' %}" rel="stylesheet" >

    <!-- sidebar -->
	<link href="{% static 'css/sidebars.css' %}" rel="stylesheet">
	<script src="{% static 'js/sidebars.js' %}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}

</head>
<body>
	<!-- 選單 -->
	<div class="sticky-top"> 
		<header class="p-3 text-bg-dark">
		    <div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
					 	<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
					</a>

					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					 	<li><a href="{% url 'index' %}" class="nav-link px-2 text-secondary">Home</a></li>
					 	<li class="nav-item dropdown">
				            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"  style="color: white;">商品</a>
				            <ul class="dropdown-menu">
				             	<li><a class="dropdown-item" href="{% url 'all-product' %}">所有商品</a></li>
								<li><a class="dropdown-item" href="{% url 'product-category' 'FLM' %}">花&月 咖啡豆</a></li>
				             	<li><a class="dropdown-item" href="{% url 'product-category' 'CSA' %}">中南美洲 咖啡豆</a></li>
				             	<li><a class="dropdown-item" href="{% url 'product-category' 'EDI' %}">特別版 咖啡豆</a></li>
				             	<li><a class="dropdown-item" href="{% url 'product-category' 'AFR' %}">非洲 咖啡豆</a></li>
				             	<li><a class="dropdown-item" href="{% url 'product-category' 'POV' %}">手沖濾杯</a></li>
				             	<li><a class="dropdown-item" href="{% url 'product-category' 'SNK' %}">手沖壺</a></li>
				             	<li><a class="dropdown-item" href="{% url 'product-category' 'GRI' %}">磨豆器</a></li>
				             	<li><a class="dropdown-item" href="{% url 'product-category' 'CGB' %}">禮盒</a></li>				             					             					        
				            </ul>
	          			</li>
					 	<li><a href="#" class="nav-link px-2 text-white">Blog</a></li>
					 	<li style="margin-left: 1em;"><a href="#" class="nav-link px-2 text-white">推薦店家</a></li>

					</ul>

					<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
					 	<input type="search" class="form-control form-control-dark text-bg-dark" placeholder="搜尋..." aria-label="Search">
					</form>

					<!-- 登入、登出、購物車按鈕 -->
					<div class="text-end">
					 	{% if request.user.is_authenticated %}
						 	<button type="button" class="btn btn-outline-light me-2">
						 		<a href="{% url 'logout' %}" style="text-decoration: none; color: #F8F9FA;">登出</a>	
						 	</button>
						{% else %}
						 	<button type="button" class="btn btn-outline-light me-2">
						 		<a href="{% url 'login' %}" style="text-decoration: none; color: #F8F9FA;">登入</a>
						 	</button>							
					 	{% endif %}
					 	<button type="button" class="btn btn-warning">購物車</button>
					</div>


	                <div class="menu-right flex items-center space-x-4" style="margin-left: 10px;">
	                    <!-- 購物車顯示圖 -->
	                    {% include 'partials/menu_cart.html' %}
	                </div>

				</div>
			</div>
		</header>
	</div>

<!-- sidebar & content -->
<main style=" clear: both; display: table; width: 100%;">
{% block sidebar %}
	<!-- 頁面名稱 -->
	<header style="height: 60px; background-color: #363335;">
		<div style="padding: 28px;">
			<h1 style="font-family: Noto Sans; font-size: 20px; line-height: 0.4; letter-spacing: 2.1px; text-align: center; color: #dbdbdb; font-weight: bold;">
			{% block page_name %}{% endblock %}
			</h1>
		</div>
	</header>

	<div class="flex-shrink-0 p-3" style="width: 25%; float: left;">
			{% block search_product %}
				<div style="height: 20px; padding-top: 30px; margin-left: 30px;">
					<!-- sidebar搜尋選項-->
					<form class="row g-3" action="" method="GET" id="search_p">
					 	<div class="col-auto" style="width: 100%;">
					    	<input type="search" class="form-control" name="searchp" placeholder="搜尋商品名稱...">
						    <button style="margin-top: 10px;" type="submit" class="btn btn-primary mb-3">搜尋</button>
					 	</div>
					</form>
				</div>
			{% endblock %}
		<div style="margin: 110px 30px 30px 30px;">
			<div class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
				<svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
				<span class="fs-5 fw-semibold">商品分類</span>
			</div>
			<ul class="list-unstyled ps-0">
				<li class="mb-1">
					<a href="{% url 'all-product' %}" class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-target="#dashboard-collapse" aria-expanded="false">
					  所有商品
					</a>
				</li>
				<li class="mb-1">
					<a href="{% url 'new-product' %}" class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-target="#dashboard-collapse" aria-expanded="false">
					  最新商品
					</a>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
					咖啡豆
					</button>
					<div class="collapse" id="dashboard-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="{% url 'product-category' 'FLM' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">花&月</a></li>
							<li><a href="{% url 'product-category' 'CSA' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">中南美洲</a></li>
							<li><a href="{% url 'product-category' 'AFR' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">非洲</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
					沖煮器具
					</button>
					<div class="collapse" id="orders-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="{% url 'product-category' 'POV' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">手沖濾杯</a></li>
							<li><a href="{% url 'product-category' 'SNK' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">手沖壺</a></li>
							<li><a href="{% url 'product-category' 'GRI' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">磨豆器</a></li>
						</ul>
					</div>
				</li>
				<li class="border-top my-3"></li>
				<li class="mb-1">
					<a href="{% url 'product-category' 'EDI' %}" class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-target="#dashboard-collapse" aria-expanded="false">
					  特別版
					</a>
				</li>
				<li class="mb-1">
					<a href="{% url 'product-category' 'CGB' %}" class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-target="#dashboard-collapse" aria-expanded="false">
					  禮盒
					</a>
				</li>
			</ul>
		</div>
	</div>

{% endblock %}


<div class="album py-5 bg-body-tertiary" style="width: 70%;float: right;">
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style=" align-items: center; padding-left: 15px;">
			<!-- 上源線 -->
			{% block underline %}
				<li class="border-top" style="width: 95%; list-style-type: none; margin-top: 0px; margin-left: 15px;"></li>
				<div style="height: 40px; margin-left: 10px;">
					<!-- 商品顯示方式 -->
					<form id="sortForm" action="?searchp={{ searchp }}&sort_option={{ sort_option }}" method="GET">
					    <select id="sortSelect" class="form-select" name="sort_option">
				        	<option value="" disabled selected>顯示方式</option>
				            <option value="new">依最新項目排序</option>
				            <option value="ud">價格高 > 低</option>
				            <option value="du">價格低 > 高</option>
					    </select>
					    <input type="hidden" name="searchp" value="{{ searchp }}">
					</form> 
				</div>
				<li class="border-top" style="width: 95%; list-style-type: none; margin-bottom: 20px; margin-left: 15px;"></li>
			{% endblock %}	
{% block content %}



{% endblock %}

<div style="clear: both;"></div>

{% block pagination %}

	{% if is_paginated %}
		<ul class="pagination" style="padding-left: 100px; margin-top: 30px;">
			<li class="page-item">
				{% if page_obj.has_previous %}
				<a class="page-link" href="?page={{ page_obj.previous_page_number }}&searchp={{ searchp }}&sort_option={{ sort_option }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
				{% endif %}
			</li>
			{% for page in page_obj.paginator %}
			<li class="page-item">
				<a class="page-link" href="?page={{ page.number }}&searchp={{ searchp }}&sort_option={{ sort_option }}">
				{{ page.number }}
				</a>
			</li>
			{% endfor %}
			<li class="page-item">
				{% if page_obj.has_next %}
				<a class="page-link" href="?page={{ page_obj.next_page_number }}&searchp={{ searchp }}&sort_option={{ sort_option }}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
				{% endif %}
			</li>
		</ul>
	{% endif %}		

{% endblock %}


		</div>
	</div>
</div>
</main>



	<!-- footer的分隔線 -->
	<div class="b-example-divider" style=" content: ''; clear: both; display: table;"></div>

	<!-- 頁尾 -->
	<footer>
		<div class="container" style=" content: ''; clear: both; display: table;">
			<div class="py-3 my-4" >
				<ul class="nav justify-content-center border-bottom pb-3 mb-3">
					<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
					<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
					<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
					<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
					<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
				</ul>
				<p class="text-center text-body-secondary">&copy; 2023 Company, Inc</p>
			</div>
		</div>
	</footer>
	
	<!-- 頁面背景變色按鈕 -->
	<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
	 	<button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
	        id="bd-theme"
	        type="button"
	        aria-expanded="false"
	        data-bs-toggle="dropdown"
	        aria-label="Toggle theme (auto)">
	    <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
	    <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
	 	</button>
	    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
	        <li>
	         	<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
	            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#sun-fill"></use></svg>
	            Light
	            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
	         	</button>
	        </li>
	        <li>
	         	<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
	            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
	            Dark
	            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
	         	</button>
	        </li>
	        <li>
	         	<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
	            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#circle-half"></use></svg>
	            Auto
	            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
	         	</button>
	        </li>
	  	</ul>
	</div>
	<script src="https://unpkg.com/htmx.org@1.7.0"></script>
</body>
</html>


<!-- ChatGPT表單提交 -->
<script>
    const sortSelect = document.getElementById("sortSelect");

    sortSelect.addEventListener("change", function () {
        document.getElementById("sortForm").submit();  // 當選擇的值不一樣時，提交表單。
    });

</script>




