{% extends 'product_Base.html' %}

{% load humanize %}

{% block title %}
    {{ category_n }}
{% endblock %}

{% block page_name %}
    {{ category_n }}
{% endblock %}



{% block content %}


{% for product in product_list %}
    <div class="col" style="width: 220px; margin: 10px; display: flex; flex-direction: column; justify-content: space-between;">
        <!-- 產品 -->
        <div class="col" style="width: 200px; ">
            <a href="{{ product.get_absolute_url }}" style="text-decoration: none;">
                <div class="card shadow-sm">
                    <div>
                        <img src="{{ MEDIA_URL }}{{ product.image }}" alt="Image" class="img-fluid" style="border-radius: 0.35em 0.35em 0 0;">
                    </div>
                    <div class="card-body">
                        <div style="width: 100%; padding-bottom: 10px;">
                            <p class="card-text" style="text-align: center; font-weight: bold;">
                            	<!-- 產品名稱 -->
                            	<small class="text-body-secondary" style="font-size: 16px;">{{ product.name }}</small>
                			</p>
                        </div>
                        <div class="justify-content-between align-items-center" style="padding: 10px 10px 10px 10px;">
                    		<!-- 價格 -->
                            <span class="card-text h5" style="margin-left: 5px;">
                                <span style="margin-right: 10px; color: #999; font-size: 12px;">
                                    <del>NT{{ product.price|intcomma }}</del> 
                                </span>
                                <span style="color: #999;">
                                    NT{{ product.on_sale|intcomma  }}
                                </span>
                            </span>     	                	
                        </div>
            		</div>
                </div>
            </a>
        </div>
    </div>
{% endfor %}

{% endblock %}
